.App {
    text-align: center;
    font-size: 30px;
    margin: 20%;
}

.App-title {
    font-size: 45px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
}

.Deadline-input {
    font-size: 15px;
    margin: 5px;
}